@import url('//fonts.googleapis.com/css?family=Droid+Sans');
@font-face {
font-family: 'Open Sans';
src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Open Sans';
src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Open Sans Light';
src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Ligh-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
font-weight: normal;
font-style: normal;
}
* {margin:0;padding:0}
html {min-height: 100%}
body {font-family:'Open Sans Light',sans-serif;
      background-color:rgb(51,51,51);
      color: rgb(72,72,72);
      line-height:20px;
      font-size:14px;
      margin: 0 1em;
      background-repeat: repeat-x;
      background-image: linear-gradient(rgb(215, 211, 200), rgb(246, 244, 236));
}
h1,h2,h3{font-family:'Open Sans Light';text-shadow:rgba(255,255,255,0.75)0 1px 0;}
h1 {font-size:48px;letter-spacing:-2px;line-height:100%}
h2 {font-size:32px;letter-spacing:-1px;line-height:100%}
h3 {font-size: 28px;letter-spacing:-0.5px;line-height:100%}
a {color: #0095DD;}
a:hover {color:#00539F;transition:.5s;}
.control{position:absolute; top:-.5em; right:2em;}
header {position:relative; margin:1em 0 1em 0;width:100%;}
header button {text-align:right;}
#new_item fieldset{padding: 2px;}
#new_item label {display:inline-block;min-width:5em;text-align:right;line-height:90%;vertical-align:middle;}
#new_item label:before {content:"\A";white-space:pre; }
#new_item .note label {display:block;text-align:left;}
#new_item select, #new_item input{
height: 20px;
background: none repeat scroll 0% 0% rgb(255, 255, 255);
border-color: rgb(178, 178, 178);
border-style: solid;
border-width: 1px;
font-size: 12px;
font-family: 'Open Sans',sans-serif;
padding: 3.33333px 6.66667px;
border-radius: 3px 3px 3px 3px;
box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
transition: all 0.1s linear 0s;
}
#new_item input[type^="datetime"] { width:16em;}
#new_item select {
    padding:0;
    line-height:20px;
    appearance: none;
    outline: none;
}
#new_item select:hover, #new_item input:hover, #new_item input:focus {
border-color: rgb(66, 164, 224);
box-shadow: 0px 0px 0px 2px rgba(73, 173, 227, 0.4);
transition: all 0.1s linear 0s;
}
#select_all,#clear  {display:none;}
#existing {position:relative;margin-top:2em;}
#existing .row:nth-child(even){background-color:rgba(255,255,255,0.50);}
#existing .head {font-weight: bold; }
#existing .row td {padding:2px;}
#existing .row td:nth-child(even){background-color:rgba(255,255,255,0.50);}
#existing .head  {text-align:center; vertical-align:top;}
#existing .row .delete {text-align:center;vertical-align:middle;}
#existing .head .delete {text-align:center; vertical-align:top;}
#new_item input[name=note] {width:30em;}
#new_item input[type=number] {width:2em;}
.button, .button:link, .button:visited {
display: inline-block;
border-radius: 0.25em 0.25em 0.25em 0.25em;
box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
background-color: rgb(39, 97, 149);
background-repeat: repeat-x;
background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));
color: rgb(255, 255, 255);
text-align: center;
font-size: 14px;
padding: 0px 20px;
height: 40px;
line-height: 40px;
text-decoration: none;
min-width: 100px;
border: 0px none;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
font-family: 'Open Sans',sans-serif;
transition: all 0.25s linear 0s;
}
.button:hover, .button:link:hover, .button:visited:hover, .button.hover, .button.hover:link, .button.hover:visited, .button:focus, .button:link:focus, .button:visited:focus, .button.focus, .button.focus:link, .button.focus:visited {
box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 12px 24px 2px rgb(48, 137, 216) inset;
color: rgb(255, 255, 255);
text-decoration: none;
transition: all 0.25s linear 0s;
}
#browserid {margin: 1em;}
.priority {display:none !important;}
.warning {background-color: yellow !important;}
.hidden {display:none !important;}
.error {border: 1px solid red;}
#new_item .error {background-color: red; }
.metrics {padding-bottom: 1em; }
.announce { width:340px;min-height: 3EM;}
.announce {font-family:'Droid Sans';
    display:block; padding-left: 40px;}
.announce {text-decoration:none; color:#FFF; background: #000; background:-moz-linear-gradient(left, #114244 0%, #114244 10%, #000000 10%, #000000 100%);}
.announce span {display: block; }
.announce .title {font-weight: bold;}
.announce .body {background-color: #000 important;font-size: 80%; color: #DDD;}
.note .announce {position: absolute; left: 25em;}
