* {margin:0; padding:0}
body {font-family:Arial;}
header {padding-bottom:1em;width:100%;border:1px solid #EEE;}
header button {text-align:right;}
#new_item label {display:inline-block;min-width:7em;text-align:right;}
#new_item label:before {content:"\A";white-space:pre; }
#existing .row {display:table-row;}
#existing .head {font-weight: bold; }
#existing .row div {display:table-cell;padding:2px;}


