@font-face {
font-family: 'Open Sans';
src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Open Sans';
src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Open Sans Light';
src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot');
src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.woff') format('woff'),
url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
font-weight: normal;
font-style: normal;
}
* {margin:0;padding:0}
html {height: 100%}
body {font-family:'Open Sans Light',sans-serif;
      background-color:rgb(51,51,51);
      color: rgb(72,72,72);
      margin:1em;
      line-height:20px;
      font-size:14px;
      background-repeat: repeat-x;
      background-image: linear-gradient(rgb(215, 211, 200), rgb(246, 244, 236));
}
h1,h2,h3{font-family:'Open Sans Light';text-shadow:rgba(255,255,255,0.75)0 1px 0;}
h1 {font-size:48px;letter-spacing:-2px;line-height:100%}
h2 {font-size:32px;letter-spacing:-1px;line-height:100%}
h3 {font-size: 28px;letter-spacing:-0.5px;line-height:100%}
a {color: #0095DD;}
a:hover {color:#00539F;transition:.5s;}
.control{position:absolute; top:0; right:2em;}
header {position:relative; padding-bottom:1em;width:100%;}
header button {text-align:right;}
#new_item label {display:inline-block;min-width:5em;text-align:right;line-height:100%;}
#new_item label:before {content:"\A";white-space:pre; }
#new_item .note label {display:block;text-align:left;}
#new_item input[name=note] {width:30em;}
#select_all,#clear  {display:none;}
#existing {position:relative;}
#existing .row {display:table-row;}
#existing .row:nth-child(even){background-color:rgba(255,255,255,0.50);}
#existing .head {font-weight: bold; }
#existing .row div {display:table-cell;padding:2px;}
#existing .row div:nth-child(even){background-color:rgba(255,255,255,0.50);}
#existing .head  {text-align:center; vertical-align:top;}
#existing .row .delete {text-align:center;vertical-align:middle;}
#existing .head .delete {text-align:center; vertical-align:top;}
input[type=number] {width:2em;}
